agm-map {
  height: 300px;
  width: 600px;
}
h1{
  text-align: center;
}
/*
.smallList{
  .nimi{
    font-size: 100%;
  }
  .mainLi{
    margin-left: 15%;
    margin-right: 15%;
    margin :{
      left: 15%;
      right: 15%;
    }
  }
}
*/