<main>
<h2>
    <i class="material-icons">directions_bus</i>
    Kirjoita pysäkin nimi hakuboksiin
    <i class="material-icons">directions_bus</i>
</h2>

<!--
<h2>
    Pysäkin nimi
</h2>

<form name="stop">
    <input type="text" placeholder="Tikkurila" (keyup)="stopName($event)">
</form>-->
<!--
<input placeholder="MOI:-)" name="nimi" [(ngModel)] = "digitransitService.pysakki">
    <br>
<button (click)="naytaPysakki()"><i class="material-icons">search</i></button>
<br>
-->
    <br>
    <mat-form-field>
        <input matInput [(ngModel)] = "digitransitService.pysakki" placeholder="Stop name">
    </mat-form-field>
    <br>
    <button mat-raised-button color='primary' (click)="naytaPysakki()"><i class="material-icons">search</i></button>
</main>


